.nav-link {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  padding-bottom: 10px;

  &-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  &-avtive {
    border-bottom: 3px solid #f2594b;
  }
}
