@import "./../../styles/variables.scss";

.search-component {
  display: flex;
  align-items: center;
  padding: 8px;
  svg {
    fill: white;
  }
  input {
    flex: 1;
    border: none;
    background-color: transparent;
    width: 24px;
    color: white;
    margin: 0 12px;
    outline: none;
    &:focus {
      outline: none;
    }
  }
}
