.user-stats {
  display: flex;
  justify-content: space-between;
  border: 2px solid #f2594b;
  border-radius: 28px;
  padding: 16px 28px;
  margin-bottom: 24px;

  &-box {
    text-align: center;
    color: #f2594b;
    font-weight: 500;
  }

  &-label {
  }
  &-number {
  }
}
