@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Overlock:wght@700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Dosis", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
  font-family: "Dosis";
  color: white;
}

h1 {
  font-family: "Overlock";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 5rem;
  color: darkred;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}
