.matching-page {
  &__content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__error-pop-up {
    background-color: rgba(104, 104, 104, 0.95);
    display: flex;
    align-items: center;
    padding: 12px;

    .card-component {
      &__wrapper {
        max-width: 90%;
        margin: auto;
        padding: 20px;
        & > p {
          margin-bottom: 20px;
          font-weight: 900;
          font-size: 20px;
          line-height: 24px;
        }
        & > div {
          display: flex;
        }
      }
    }
  }
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    &__error-pop-up {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(138, 138, 138, 0.5);
    }
  }
  .swipeable-card-container {
    position: relative;
    width: 100%;
    margin-top: 5%;
    .swipe {
      width: 100%;
      height: 100%;
      position: absolute;
      @for $i from 0 through 14 {
        &--#{$i} {
          z-index: 14 - $i;
        }
      }
    }
    .container {
      text-align: center;
      color: white;
      height: 100%;
      position: relative;

      .meal-image {
        position: relative;
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .swipe-gesture-indicator {
        z-index: 1;
        position: absolute;
        top: 12px;
        opacity: 0;
        width: 80px;
        -webkit-transition: opacity 200ms ease-out;
        -moz-transition: opacity 200ms ease-out;
        -o-transition: opacity 200ms ease-out;
        transition: opacity 200ms ease-out;
        &__like {
          left: 12px;
        }
        &__dislike {
          right: 12px;
        }
        svg {
          color: #d67278;
        }
        &.show {
          opacity: 0.8;
        }
      }
    }
    height: 75%;
  }
  .button-big {
    height: 55px;
    width: 55px;
    background-color: #d67278;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
  }

  .button-small {
    border: 2px solid #fca262;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    position: relative;
    .friend-badge {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .matching-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .button-center {
    margin-left: auto;
    margin-right: auto;
    padding-top: 17px;
    display: block;
    height: 40px;
    width: 40px;
    svg {
      color: #f9eee1;
    }
  }

  .button-small-style {
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 6px;
    display: block;
    height: 35px;
    width: 35px;
  }

  .progressBar {
    position: absolute;
    width: 100%;
    height: 30px;
    background: rgba(242, 89, 75, 0.5);
    overflow: hidden;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    bottom: 0px;
    left: 0px;
  }

  .progressBarStyle {
    position: absolute;
    left: 0;
    background-image: linear-gradient(
      to right,
      rgba(187, 0, 45, 1),
      rgba(242, 89, 75, 1),
      rgba(214, 54, 39, 1)
    );
    height: 100%;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
  }

  .progressBarText {
    line-height: 30px;
    vertical-align: middle;
    bottom: 0px;
  }

  .back-button {
    top: 16px;
    left: 16px;
    position: absolute;
    background-image: linear-gradient(
      to right,
      rgba(232, 106, 95, 1),
      rgba(242, 89, 75, 1),
      rgba(214, 54, 39, 1)
    );
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .multi-user-match-wait-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text-big {
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
    }

    &__middle-text {
      font-weight: 900;
      font-size: 28px;
      line-height: 34px;
    }
  }
}
.matching-loading {
  background-color: #f9eee1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #bb002d;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  text-align: center;

  .lds-heart {
    animation: lds-heart 3s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @keyframes lds-heart {
    0% {
      transform: scale(0.99);
    }
    5% {
      transform: scale(1.01);
    }
    39% {
      transform: scale(0.9);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.98);
    }
    100% {
      transform: scale(0.96);
    }
  }
}
