$color-main: #f2594b;
$color-background-main: #f9eee1;
$color-text-main: #fff;

$color-button-main: #f2594b;
$color-button-hover: #f2594b;
$color-button-inactive: #f2594b;
$color-button-text: #fff;

$color-textfield-main: #fff;
$color-textfield-hover: #fff;
$color-textfield-inactive: #fff;

$color-border: #f2594b;

$yumatch-red: #bb002d;
$button-default: #f2594b;
