$color-main: #F2594B;
$color-background-main: #F9EEE1;
$color-text-main: #fff;

$color-button-main: #F2594B;
$color-button-hover: #F2594B;
$color-button-inactive: #F2594B;
$color-button-text: #fff;

$color-textfield-main: #fff;
$color-textfield-hover: #fff;
$color-textfield-inactive: #fff;

$color-border: #F2594B;